@use "./variables" as *;
@use "./mixins" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 1440px;
  background-color: $bgColor;
  margin: 0 auto;
}

body {
  padding: 20px;
  @media #{$md} {
    padding: 40px 40px;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
