$colorPrimary: #d1d1d1;
$white: #ffffff;
$button-cyan:rgb(0, 214, 214);
$text-black:#0C0C0C;
$sonicsilver:rgba(255, 255, 255, 0.5);
$bgColor: #1d1d20;
$lightBgColor:#e2e2df;

$fontPrimary: 'Montserrat-Regular', sans-serif;
