$colorPrimary: #d1d1d1;
$white: #ffffff;
$button-cyan:rgb(0, 214, 214);
$text-black:#0C0C0C;
$sonicsilver:rgba(255, 255, 255, 0.5);

// $colorPrimaryDark: #242529;
// $colorSecondaryDark: #fff27a;
// $colorWhite: #ffffff;
// $colorBlack: #000000;
// $colorGrey: #c9c9ca;
// $placeholderColor: #cfcfd0;
$bgColor: #1d1d20;
// $colorForm: #33475b;
// $fontColor: #b6b6b6;

$fontPrimary: 'Montserrat-Regular', sans-serif;
