@use "src/styles/shared/mixins" as *;
@use "src/styles/shared/variables" as *;

.HeroBanner {
  :global {
    padding: 70px 20px 0;
    background: url(../../assets/images/blob.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 360px;
    @media #{$xsm} {
      background-size: 376px;
    }
    @media #{$md} {
      display: flex;
      padding: 150px 40px 40px;
      flex-direction: row-reverse;
      justify-content: space-between;
      height: min(752px ,calc(100vh - 105px));
    }
    @media #{$md} {
      background-position:  right;
      background-size: 476px;

    }
    @media #{$xl} {
    background-position: top right;
      background-size: 576px;
    }

    span {
      position: relative;
    @media #{$xl} {
      display: block;
      width: 80%;
    }

      &::before {
        content: "";
        background: linear-gradient(
          0deg,
          rgb(65, 76, 198) 0%,
          rgb(76, 155, 95) 100%
        );
        width: 1.5px;
        height: 100%;
        position: absolute;
      }
    }
    p {
      margin: 14.4px 0 14.4px 15px;
      @media #{$lg} {
        max-width: 85%;
      }
    }
    .textContainer {
      flex: 1;
      align-self: center;
      @media #{$md} {
        flex-basis: 50%;
      }
    }

    figure {
      text-align: end;
      align-self: center;
      img {
        width: 300px;
        height: 325px;
        @media #{$md} {
          width: 400px;
          height: 425px;
        }
        @media #{$xl} {
          width: 500px;
          height: 545px;
        }
      }
      @media #{$lg} {
        margin-top: -50px;
      }
    }
  }
}
