@use "src/styles/shared/mixins" as *;
@use "src/styles/shared/variables" as *;

.HeroBanner {
  :global {
    padding: 70px 20px 0;
    background: url(../../assets/images/blob.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 360px;
    @media #{$xsm} {
      background-size: 376px;
    }
    @media #{$md} {
      display: flex;
      padding: 150px 40px 40px;
      flex-direction: row-reverse;
      justify-content: space-between;
      height: min(752px ,calc(100vh - 105px));
    }
    @media #{$md} {
      background-position:  right;
      background-size: 476px;

    }
    @media #{$xl} {
    background-position: top right;
      background-size: 576px;
    }

    span {
      position: relative;
    @media #{$xl} {
      display: block;
      width: 80%;
    }

     
    }
    p {
      margin: 14.4px 0 ;
      @media #{$lg} {
        max-width: 85%;
      }
    }
    .textContainer {
      flex: 1;
      align-self: center;
      position: relative;
      &::before {
        content: "";
        background: $themeOrange;
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        left:-3.8%;
      }
      @media #{$md} {
        flex-basis: 50%;
      }
    }

    .btn {
      z-index: 9;
      background-color: $themeOrange;
      cursor: pointer;
      display: block; 
      color: $white;
      text-decoration: none;
      white-space: normal;
      text-align: left;
      line-height: 43px;
      letter-spacing: 0px;
      font-weight: 500;
      font-size: 20px;
      padding:5px 12px;
      border-radius: 50px;
      backdrop-filter: none;
      filter: none;
      transform-origin: 50% 50%;
      opacity: 1;
      transform: translate(0px, 0px);
      visibility: visible;
      margin-right: rem(30);
      &:hover {
        background-color: $bgColor;
        color: $white;
      }
    }

    figure {
      text-align: end;
      align-self: center;
      img {
        width: 300px;
        height: 325px;
        @media #{$md} {
          width: 400px;
          height: 425px;
        }
        @media #{$xl} {
          width: 500px;
          height: 545px;
        }
      }
      @media #{$lg} {
        margin-top: -50px;
      }
    }
  }
}
