@use "src/styles/shared/mixins" as *;
@use "src/styles/shared/variables" as *;

.ProjectSection {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  margin-top: 100px;
  @media #{$lg} {
    height: 100vh;
  }
  :global {
    .slider {
      position: relative;
      width: 100%;
      height: 100%;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    }
    .item {
      width: 200px;
      height: 300px;
      list-style-type: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 20px;
      box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
      transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s,
        height 0.75s;

      &:nth-child(1),
      &:nth-child(2) {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
      }

      &:nth-child(3) {
        left: calc(50% + 220px);
      }
      &:nth-child(4) {
        left: calc(50% + 440px);
      }
      &:nth-child(5) {
        left: calc(50% + 660px);
      }
      &:nth-child(6) {
        opacity: 0;
      }
    }

    .content {
      width: min(30vw, 400px);
      position: absolute;
      top: 50%;
      left: 3rem;
      transform: translateY(-50%);
      text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
      opacity: 0;
      display: none;

      & .title {
          font-size: 30px;
        text-transform: uppercase;
        position: relative;
        color: $white;
        &::after {
          content: "";
          position: absolute;
          background:$themeOrange;
          width: 100%;
          height: 2px;
          bottom: -5px;
          right: 0;
        }
      }

      & .description {
        line-height: 1.7;
        margin: 1rem 0 1.5rem;
        font-size: 15px;
        color: $colorPrimary;
        @media #{$xl} {
        font-size: 20px;
        }
      }

      a {
        width: fit-content;
        background-repeat: no-repeat;
        color:white;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
      
        &:hover {
          color: black; 
          background-color: white;
        }
      }
      
     
    }

    .item:nth-of-type(2) .content {
      display: block;
      opacity: 1;
      animation: show 0.75s ease-in-out 0.3s forwards;
    }

    .nav {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
      width: 100%;
    user-select: none;
    display: inline-flex;
    justify-content: center;

      & .btn {
        background-color: rgba(255, 255, 255, 0.3);
        color: rgba(0, 0, 0, 0.7);
        border: 2px solid rgba(0, 0, 0, 0.6);
        margin: 0 0.25rem;
        padding: 0.75rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }

      .reverse {
        transform: rotate(180deg);
      }
    }

    @media (width > 650px) and (width < 900px) {
      .content {
        & button {
          font-size: 0.7rem;
        }
        width: min(40vw, 400px);
      }
      .item {
        width: 160px;
        height: 270px;

        &:nth-child(3) {
          left: calc(50% + 170px);
        }
        &:nth-child(4) {
          left: calc(50% + 340px);
        }
        &:nth-child(5) {
          left: calc(50% + 510px);
        }
        &:nth-child(6) {
          opacity: 0;
        }
      }
    }

    @media (max-width: 650px) {
      .content {
        & button {
          font-size: 0.7rem;
        }
        width: min(50vw, 400px);
        &::before {
          position: absolute;
          z-index: -1;

          content: "";
          width: 120%;
          height: max(100%, 350px);
          background: $bgColor;
          filter: opacity(0.5);
          top: -20px;
          left: -10px;
        }
      }
      .item {
        width: 130px;
        height: 220px;

        &:nth-child(3) {
          left: calc(50% + 140px);
        }
        &:nth-child(4) {
          left: calc(50% + 280px);
        }
        &:nth-child(5) {
          opacity: 0;
        }
        &:nth-child(6) {
          opacity: 0;
        }
      }
    }
  }
}
@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
