@use "src/styles/shared/mixins" as *;
@use "src/styles/shared/variables" as *;

.SkillSection {
  margin: 50px 0;
  padding: 20px;
  height: 700px;
  @media #{$lg} {
    display: flex;
    justify-content: center;
    padding: 40px 40px;
    height: unset;
  }
  h2 {
    align-self: center;
  }
}
