@use "src/styles/shared/mixins" as *;
@use "src/styles/shared/variables" as *;

.SkillSection {
  padding: 50px 20px;
  height: 700px;
  @media #{$lg} {
    display: flex;
    justify-content: center;
    padding: 40px 40px;
    height: min(752px ,calc(100vh - 105px));

  }
  h2 {
    align-self: center;
  }
}
